footer.text-center.text-white.fixed-bottom(style='background-color: #21081a; height:100px;')
  // Grid container
  .container.p-4
  // Grid container
  // Copyright
  .text-center.p-3(style='background-color: rgba(0, 0, 0, 0.2);')
    |  Designed and developed by:
    a.text-white(href='#') KNIGHT CODERS
  .text-center.p-3(style='background-color: rgba(0, 0, 0, 0.2);')
    | &copy; 2024 Copyright:
    a.text-white(href='#') ELLUCIAN- BENGALORE
  // Copyright
