footer.text-center.text-white.fixed-bottom(style='background-color: #21081a;')
  // Grid container
  .container.p-4
  // Grid container
  // Copyright
  .text-center.p-3(style='background-color: rgba(0, 0, 0, 0.2);')
    |  Designed and developed by:
    a.text-white(href='#') Madakari Nayaka HM 1CR20CS107
  .text-center.p-3(style='background-color: rgba(0, 0, 0, 0.2);')
    | &copy; 2022 Copyright:
    a.text-white(href='#') CMRIT- BENGALORE
  // Copyright
