.container.container-fluid.my-5(style="width:100%")
  footer.bg-dark.text-center.text-white(style="width:100%")
    .container.p-4.pb-0
      section.mb-4
        a.btn.btn-outline-light.btn-floating.m-1(href='#!' role='button')
          i.fab.fa-facebook-f(style='color:aqua')
        a.btn.btn-outline-light.btn-floating.m-1(href='#!' role='button')
          i.fab.fa-twitter
        a.btn.btn-outline-light.btn-floating.m-1(href='#!' role='button')
          i.fab.fa-google
        a.btn.btn-outline-light.btn-floating.m-1(href='#!' role='button')
          i.fab.fa-instagram
        a.btn.btn-outline-light.btn-floating.m-1(href='#!' role='button')
          i.fab.fa-linkedin-in
        a.btn.btn-outline-light.btn-floating.m-1(href='#!' role='button')
          i.fab.fa-github
    .text-center.p-3(style='background-color: rgba(0, 0, 0, 0.2)')
      | &copy; Designed and developed by:
      a.text-white(href='#') Madakari Nayaka H M 1CR20CS107
    .text-center.p-3(style='background-color: rgba(0CS, 0, 0, 0.2)')
      | &copy; 2022 Copyright:
      a.text-white(href='#') CMRIT